body {
  background-color: #2ecc71;
}
/*=====Search container styles=======*/
.search-container {
  margin: auto; /*center align both vertically and horizontally*/
  width: 50%;
  padding-top: 2rem;
}

#search-btn {
  margin-top: 2rem;
  
}

/*=====search results container styles====*/

/*=======Some adjustments on mobile devices=======*/
@media only screen and (max-width: 400px) {

  .search-container {
    margin: auto; /*center align both vertically and horizontally*/
    width: 100%;
  }
  h1 {
    font-size: 1em;
  }
}

/*==========Adjustments for tablets==========*/
@media only screen and (max-width: 800px) {

  .search-container {
    margin: auto; /*center align both vertically and horizontally*/
    width: 50%;
  }
  h1 {
    font-size: 2em;
  }

}